//
//Neumorphic Mixins
//
//
//-Neumorphic General
//
@mixin neu( 
		$white-dark, 
		$hover: false, 
		$direction: topleft, 
		$inset: false, 
		$distance: 2px 
	) {
    border-radius: $border-radius;
	$v: 2px;
	
	@if $distance {
		$v: $distance;		
	}

	$topX: ($v*2*-1);
	$topY: ($v*2*-1);
		
	$out: $topX $topY ($v*3) rgba(#fff,.7),
		  $topX*-1 $topY*-1 ($v*3) darken($white-dark,12),
		  inset $topX $topY ($v*6) rgba(#fff,.1),
		  inset $topX*-1 $topY*-1 ($v*6) darken($white-dark,0);

	$in: $topX $topY ($v*5) rgba(#fff,.2), //Top drop shadow
		 $topX*-1 $topY*-1 ($v*3) darken($white-dark,0), //Bottom drop shadow
		 inset $topX $topY ($v*6) rgba(#fff,.6), //Edge inset
	     inset $topX/2 $topY/2 ($v) rgba(#fff,.2), //Bottom inset
		 inset $topX*-1 $topY*-1 ($v*3) darken($white-dark,10); //Top inset
		
	@if $inset {
		box-shadow: $in;
	}
	@else {
		box-shadow: $out;
	}
		
	@if $hover {
		&:hover {
			@if $inset {
				box-shadow: $out;
			}
			@else {
				box-shadow: $in;
			}
		}
	}
}

//
//-Neumorphic Blue Button
//
@mixin neu-btn--blue( 
		$white-dark, 
		$hover: false, 
		$inset: false, 
		$distance: 2px 
	) {
    border-radius: $border-radius;
	$v: 2px;
	
	@if $distance {
		$v: $distance;		
	}

	$topX: ($v*2*-1);
	$topY: ($v*2*-1);
		
	$out: $topX $topY ($v*3) rgba(#fff,.7),
		  $topX*-1 $topY*-1 ($v*3) darken($white-dark,12),
		  inset $topX $topY ($v*6) rgba(#fff,.1),
		  inset $topX*-1 $topY*-1 ($v*6) darken(rgb(96, 186, 238),0);

	$in: $topX $topY ($v*5) rgba(#fff,.2), //Top drop shadow
		 $topX*-1 $topY*-1 ($v*3) darken($white-dark,0), //Bottom drop shadow
		 inset $topX $topY ($v*6) rgba(rgb(255, 255, 255),.7), //Edge inset
	     inset $topX/2 $topY/2 ($v) rgba(rgb(255, 255, 255),.5), //Bottom inset?
		 inset $topX*-1 $topY*-1 ($v*3) darken(#00AFEF,7); //Top inset
		
	@if $inset {
		box-shadow: $in;
	}
	@else {
		box-shadow: $out;
	}
		
	@if $hover {
		&:hover {
			@if $inset {
				box-shadow: $out;
			}
			@else {
				box-shadow: $in;
			}
		}
	}
}

//
//-Neumorphic Orange Button
//
@mixin neu-btn--orange( 
		$white-dark, 
		$hover: false, 
		$inset: false, 
		$distance: 2px 
	) {
    border-radius: $border-radius;
	$v: 2px;
	
	@if $distance {
		$v: $distance;		
	}

	$topX: ($v*2*-1);
	$topY: ($v*2*-1);
		
	$out: $topX $topY ($v*3) rgba(#fff,.7),
		  $topX*-1 $topY*-1 ($v*3) darken($white-dark,12),
		  inset $topX $topY ($v*6) rgba(#fff,.1),
		  inset $topX*-1 $topY*-1 ($v*6) darken($orange,0);

	$in: $topX $topY ($v*5) rgba(#fff,.2), //Top drop shadow
		 $topX*-1 $topY*-1 ($v*3) darken($white-dark,0), //Bottom drop shadow
		 inset $topX $topY ($v*6) rgba(rgb(255, 255, 255),.5), //Edge inset
	     inset $topX/2 $topY/2 ($v) rgba(rgb(255, 255, 255),.3), //Bottom inset?
		 inset $topX*-1 $topY*-1 ($v*3) darken(#F9581B,13); //Top inset
		
	@if $inset {
		box-shadow: $in;
	}
	@else {
		box-shadow: $out;
	}
		
	@if $hover {
		&:hover {
			@if $inset {
				box-shadow: $out;
			}
			@else {
				box-shadow: $in;
			}
		}
	}
}

//
//-Neumorphic Text
//
@mixin neu-text( 
		$white-dark, 
		$hover: false, 
		$direction: topleft, 
		$inset: false, 
		$distance: 2px 
	) {
	$v: 2px;
	
	@if $distance {
		$v: $distance;		
	}

	$topX: ($v*2*-1);
	$topY: ($v*2*-1);
		
	$out: $topX $topY ($v*3) rgba(#fff,.9),
		  $topX*-1 $topY*-1 ($v*3) darken($white-dark,18);

	$in: $topX $topY ($v*5) rgba(#fff,.2),
		 $topX*-1 $topY*-1 ($v*3) darken($white-dark,0);
		
	@if $inset {
		text-shadow: $in;
	}
	@else {
		text-shadow: $out;
	}
}
