.intro {
    display: flex;
    margin: 6rem 0 6rem 0;

    &__info {
        margin-right: 1rem;

    }

    &__header {
        margin-bottom: -1rem;
    }

    &__subheader {
        margin-bottom: 2rem;
        color: $gray;
    }

    &__text {
        margin-bottom: 2rem;
    }

    &__tech {
        margin-bottom: 2rem;
    }

    &__img {
        border-radius: $border-radius;
        min-width: 600px;
        height: 100%;
        margin-top: 1rem;
    }
}