.contact-container {
    margin: 0 auto;
    margin-top: 5rem;
    width: 80%;

    a {
        cursor: pointer;
    }

    #success_message {
        display: flex;
        justify-content: center;
        margin-bottom: 5rem;
    }

    #error_message {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.contact-info {
    display: flex;
    margin-bottom: 5rem;

    &__text {
        flex: 1;

        p {
            margin: 0 1rem 2rem 0;
        }

        p:last-child {
            margin-bottom: 0;
        }
    }

    &__social {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        margin-bottom: 2rem;

        button, a {
            @include neu( $white-dark, true, topleft, false );
            width: 70px;
            height: 70px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }

        img {
            width: 50px;
            filter: $shadow-filter;
        }
    }
}

.contact-form {
    width: 100%;
    margin-bottom: 5rem;

    &__top {
        display: flex;
        justify-content: space-between;

        &-group {
            flex-grow: 2;

            &:first-child {
                margin-right: 1rem;
            }

            &:last-child {
                margin-left: 1rem;
            }
        }
    }

    label {
        display: inline-block;
        margin-bottom: 0.5rem;
    }

    input, textarea {
        margin-bottom: 1rem;
        -webkit-appearance: none; /* Makes the box shadow work in iOS. Has to be before box-shadow  */
    }

    &__button {
        display: flex;
        justify-content: center;
    }

    button {
        width: 50%;
        padding: 0.5rem 0;
        font-size: 1.2rem;
    }
}

//
// Media Queries
//
@media screen and (max-width: $resp-tablet) {
    .contact-container {
        width: 100%;
    }

    .contact-info {
        flex-direction: column;
        align-items: center;

        &__text {
            max-width: 80%;
        }

        &__text p:last-child {
            margin-bottom: 2rem;
        }

        &__social {
            margin-bottom: 0;
        }
    }

    .contact-form button {
        width: 100%;
    }
}

@media screen and (max-width: $resp-phone) {
    .contact-info {
        align-items: normal;
    }
    
    .contact-info__text {
        max-width: 100%;
    }

    .contact-info__social {
            justify-content: space-between;


        a {
            width: 65px;
            height: 65px;
            margin-right: 1rem;
        }

        img {
            width: 50px;
        }
    }

    .contact-form__top {
        flex-direction: column;
        justify-content: center;

        &-group:first-child, :last-child {
            margin: 0.5rem 0;
        }
    }
}
