.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: -5rem;

    &__header {
        @include neu( $white-dark, false, topleft, false );
        padding: 0 1rem;

        // &::before {
        //     content: '';
        //     display: inline-block;
        //     position: absolute;
        //     @include neu( $white-dark, false, topleft, false );
        //     width: 450px;
        //     height: 50px;
        //     margin: 1rem 0 1rem 0;
        // }
    }

    &__sub-header {
        margin-bottom: 1rem;
        font-family: $roboto;
    }

    &__text {
        max-width: 50%;
        text-align: center;
        margin-bottom: 2em;
    }

    &__buttons a {
        margin: 0 2rem;
    }
}

.mywork {


    &__card {
        @include neu( $white-dark, false, topleft, false );
        padding: 2rem;
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        margin-bottom: 4rem;

        &-img {
            width: 100%;
            height: auto;
            border-radius: $border-radius;
            box-shadow: $shadow;
        }

        &-desc {
            margin-left: 2rem;

            &-header {
                margin: -0.8rem 0 0.5rem 0;
            }

            &-text {
                margin-bottom: 2rem;
            }

            &-tech {
                margin-bottom: 2rem;
            }

            &-tech p {
                font-size: 0.8rem;
                font-weight: bold;
                color: $gray;
                margin-bottom: 0.2rem;
            }

            &-icon {
                width: 40px;
                height: auto;
                filter: $shadow-filter;
                margin-right: 1rem;
            }

            &-buttons a {
                margin-right: 1rem;
            }
        }
    }
}

//Media Queries
@media screen and (max-width: $resp-tablet) {
    .mywork {

        &__card {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            padding: 0;

            &-img {
                margin-bottom: 2rem;
                border-radius: 0.6rem 0.6rem 0 0;
            }

            &-desc {
                margin: 0 2rem;

                &-buttons {
                    margin-bottom: 2rem;
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}