.pic-bg-m1 {
    background: linear-gradient(rgba(41, 41, 41, 0.85), rgba(41, 41, 41, 0.85)),
    url('../img/m-bg1.jpg') no-repeat center center/cover fixed;
    color: $white-dark;
}

.pic-bg-m2 {
    background: linear-gradient(rgba(41, 41, 41, 0.85), rgba(41, 41, 41, 0.85)),
    url('../img/m-bg2.jpg') no-repeat center center/cover fixed;
    color: $white-dark;
}