//
//My Work Cards
//
.mywork {
    margin: 6rem 0 7rem;

    p {
        margin-bottom: 1rem;
    }

    .social-cta {
        width: 50%;
        margin-bottom: 6rem;
        justify-content: flex-start;

        a{
            margin-right: 2rem;
        }
    }
}