[class*="btn"] {
    @include neu( $white-dark, true );
    transition: $trans-neu;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	cursor: pointer;
	text-transform: uppercase;
	margin: 1rem 1em;
    padding: 0.8rem 1.8rem;
    color: $black-light;
    
    &:hover {
		color: lighten($black-light, 25);
	}
}

.btn--blue {
    color: $blue;
    
    &:hover {
		color: darken($blue, 15);
	}
}

.btn--orange {
    color: $orange;
    
    &:hover {
		color: darken($orange, 15);
	}
}

.btn--deep {
	@include neu( $white-dark, true, topleft, false, 5px ); //(color, hover true or false, location(Only have top left), true=in false=out, size of the shadow - default is 2px)
}
