[class*="btn"], button {
    @include neu( $white-dark, true );
    transition: $trans-neu;
	display: inline-block;
	text-align: center;
	font-weight: bold;
	font-family: $roboto;
	font-size: 1rem;
	line-height: 1.6;
	background: none;
	cursor: pointer;
	text-transform: capitalize;
    padding: 0.7rem 1.5rem;
	color: $black-light;
	border: none;
    
    &:hover {
		color: lighten($black-light, 25);
	}
}

.btn--blue {
	color: $blue;
    
    &:hover {
		color: darken($blue, 15);
	}
}

.btn--orange {
    color: $orange;
    
    &:hover {
		color: darken($orange, 15);
	}
}

.btn--blue-gradient {
	@include neu-btn--blue( $white-dark, true );
	color: #fff;
	background-image: linear-gradient(45deg, $blue 0%, #00cbef 50%, #00e7ef 100%);
    
    &:hover {
		color: $white-dark;
	}
}

.btn--orange-gradient {
	@include neu-btn--orange( $white-dark, true );
	color: #fff;
	background-image: linear-gradient(45deg, rgba(249, 86, 27, 0.8) 0%, rgba(249, 27, 130, 0.8) 100%);
    
    &:hover {
		color: $white-dark;
	}
}

.btn--deep {
	@include neu( $white-dark, true, topleft, false, 5px ); //(color, hover true or false, location(Only have top left), true=in false=out, size of the shadow - default is 2px)
}
