html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-family: $roboto;
    line-height: 1.6;
    background: $white-dark;
    color: $black-light;
    max-width: $max-width;
    padding: 0 2rem;
    margin: 0 auto;
}

a {
    color: $blue;
    transition: $trans-1;

    &:hover {
        color: darken($blue, 15);
        transition: $trans-1;
    }
}

h1, h2, h3, h4 {
    font-family: $poppins;
}

h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.8rem;
}

h4 {
    font-size: 1.2rem;
}

//
//Misc. Utility Classes
//
.opacity-mid {
    opacity: $opacity-mid;
}
//
//Text Utility Classes
//
.text-center {
    text-align: center;
}

.text-small {
    font-size: 0.8rem;
    color: $gray;
}

//
//Spacing Utility Classes
//
.m-t-1 { margin-top: -1rem; }

.m-b1 { margin-bottom: 1rem; }

.m-b2 { margin-bottom: 2rem; }

.m-b6 { margin-bottom: 6rem; }

.m-b8 { margin-bottom: 8rem; }

//
//Neumorphic Utility Classes
//
.neu-in {
    @include neu( $white-dark, false, topleft, true ); //colour, hover=true or false, direction(doesn't work, always topLeft), in=true out=false

    &--hover {
        @include neu( $white-dark, true, topleft, true ); 
    }
}

.neu-out {
    @include neu( $white-dark, false, topleft, false ); //colour, hover=true or false, direction(doesn't work, always topLeft), in=true out=false

    &--hover {
        @include neu( $white-dark, true, topleft, false ); 
    }
}

//
//Image Utility Classes
//
.img-a {
    width: 100%;
    height: auto;
    border-radius: $border-radius;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

//
//Social Media Buttons Utility Classes
//
.social-cta {
    display: flex;
    justify-content: space-around;

    a {
        @include neu( $white-dark, true, topleft, false );
        min-width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

//
//Forms
//
input, textarea {
    @include neu( $white-dark, false, topcenter, true );
    transition: $trans-neu;
    border: none;
    display: block;
    padding: 0.8em 1em;
    width: 100%;
	background: transparent;
	color: darken($white-dark,55);
    text-shadow: 1px 1px rgba(#fff,.6);
    font-family: inherit; 
    font-size: inherit;
    resize: none;
	
	&::placeholder {
		color: darken($white-dark,15);
		text-shadow: 1px 1px rgba(#fff,.6);
	}
	
	&:focus {
		outline: none;
		color: darken($white-dark,75);
	}
}

//
// Media Queries
//
@media screen and (max-width: $resp-phone) {
    body {
        padding: 0 1rem;
    }
}