body {
    font-family: $roboto;
    line-height: 1.6;
    background: $white-dark;
    color: $black-light;
}

a {
    color: $blue;
    transition: $trans-1;

    &:hover {
        color: darken($blue, 15);
        transition: $trans-1;
    }
}

h1, h2, h3, h4 {
    font-family: $poppins;
}

h1 {
    font-size: 3.3em;
}

h2 {
    font-size: 2.5em;
}

//Forms - Test placeholders change this 
input {
    @include neu( $white-dark, false, topcenter, true );
    transition: $trans-neu;
	border: none;
	padding: 1em 2em;
	background: transparent;
	margin: 0 1.5em;
	color: darken($white-dark, 35);
	text-shadow: 1px 1px rgba(#fff,.6);
	
	&::placeholder {
		color: darken($white-dark,45);
		text-shadow: 1px 1px rgba(#fff,.6);
	}
	
	&:focus {
		outline: none;
		color: darken($white-dark,55);
	}
}