.footer {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;

    &__logo {
        margin-bottom: 1rem;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        li {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            font-weight: 600;
            text-transform: uppercase;
            color: $black-light;

            &:hover {
                color: lighten($black-light, 45);
            }
        }
    }

    &__copyright {
        margin-bottom: 2rem;
        font-size: 0.8rem;
        color: $gray;
    }
}

//
// Media Queries
//
@media screen and (max-width: $resp-phone) {
    .footer .footer__links {
        flex-direction: column;
        text-align: center;

        li {
            margin: 0.6rem 0;
        }
    }

    .footer .footer__copyright {
        font-size: 0.7rem;
    }
}