.box {
    @include neu( $white-dark, true, topleft, false ); //colour, hover=true or false, direction(doesn't work, always topLeft), in=true out=false
    width: 200px;
    height: 200px;
    padding: 2rem;
    margin: 2rem;
}